#version=DEVEL
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','ru'
# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=192.168.30.2 --ip=192.168.30.240 --nameserver=192.168.30.2,8.8.8.8,8.8.4.4 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=c7t1
# Reboot after installation
reboot
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream
# Root password
rootpw --iscrypted $6$aGcJsgZIUFB/OjxQ$C.ShuqZkpq4l0IufLZNoQKo/gEs6uO6lXUCOHiWbJiewrffw8lo4RN.SRhjN2Fv7aiKKZrEKJGWvsIA5Vn5Y90
# SELinux configuration
selinux --disabled
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Europe/Moscow --isUtc --ntpservers=2.centos.pool.ntp.org
user --groups=wheel --name=zav --password=$6$M7DIUF5meXqlivBv$AEE/e7il4M8uhsR/7QymiA3cw6xwaE3k19LxzF3EX1Y2pA8Du4tFiZ6tqkgE8lH9nF2586P0PiwEFOAyMsq.R/ --iscrypted --gecos="zav"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%post --interpreter=/bin/bash
echo "blacklist i2c_piix4" > /etc/modprobe.d/blacklist.conf

yum install epel-release -y
yum install nano -y
yum install rsync -y
yum install wget -y
yum install yum-utils -y
yum update -y
%end
%packages
@^minimal
@core
chrony
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
